@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --dark-navy: #000C2D; 
    --black:#181818;
    --blue: #2F70FE;
}

body::-webkit-scrollbar {
    width: 5px;
    display: none;
}

* {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.nav-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    margin-right: 200px;
    margin-left: 60px;
}

.navbar, .navbar-nav, .login {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 32px;
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.71px;
    color: var(--dark-navy);
}

.nav-link:hover {
    font-weight: 600;
}

.demo {
    color: var(--blue);
    border-radius: 1px;
    border: 1px solid var(--blue);
    padding: 12px 23px 12px 23px;
}

.login-text {
    margin-left: 4px;
}

.hero {
    padding: 0;
    height: max-content;
    overflow: hidden;
    background-color: #00FF8514;
}

.hero-content {
    width: 100%;
    height: 100%;
    padding-bottom: 137px;
    overflow: hidden;
    background-color: var(--blue);
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
}

.hero-text {
    padding-top: 114px;
    color: white;
    width: 789px;
}

.hero-heading {
    padding: 0 50px 7px 50px;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
}

.hero-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 50px 33px 50px;
}

.hero-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.24px;
    padding: 16px 25px;
    border-radius: 0;
}

.heroImg1 {
    position: absolute;
    top: 430px;
    left: 98px;
    z-index: 2;
}

.heroImg2 {
    position: absolute;
    top: 330px;
    left: 972px;
    z-index: 2;
}

.list-container {
    background-color: #00FF8514;
    padding-bottom: 148px;
    margin-bottom: 111px;
    padding-left: -300px;
}

.list-heading {
    font-size: 40px;
    font-weight: 500;
    line-height: 50,6px;
    letter-spacing: 2%;
    color: black;
    padding-top: 80px;
    padding-bottom: 40px;
}

.list-row {
    width: max-content;
    display: flex;
    justify-content: center;
    margin-left: -50%;
}

.list-col {
    width: 260px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1%;
    color: var(--dark-navy);
    margin-left: 50px;
    padding: 0;
}

.list-desc {
    margin-top: 24px;
}

.listDecore1 {
    position: absolute;
    top: 1000px;
    left: 98px;
}

.listDecore2 {
    position: absolute;
    top: 680px;
    left: 1150px;
}

.content-row {
    margin-bottom: 174px;
}

.content1-col, .content2-col, .content3-col, .content4-col, .content5-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content1-col {
    width: 430px;
    margin-right: 121px;
}

.content2-col {
    margin-left: 90px;
}

.content3-col {
    margin-right: 90px;
    padding-right: 48px;
}

.content4-col {
    margin-left: 90px;
}

.content5-col {
    margin-right: 90px;
    padding-right: 44px;
}

.content-heading {
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    color: var(--black);
    padding-right: 31px;
    margin-bottom: 24px;
}

.content-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: var(--dark-navy);
    letter-spacing: 1%;
    margin-bottom: 24px;
}

.signup {
    display: flex;
    align-items: center;
}

.signup-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--blue);
    margin-right: 8px;
    text-decoration: none;
}

.footer {
    background-color: black;
    padding-top: 89px;
    padding-bottom: 61px;
}

.footer a {
    color: white;
}

.footer-link.title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 24px;
}

.footer-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}

.copyright {
    margin-top: 57px;
    font-size: 14px;
}